<!DOCTYPE html>
<html lang="en-US" class="pf-v5-theme-dark">
  <head>
    <% if(brandType == 'lf'){ %>
    <title>LibreFact</title>
    <meta name="description" content="LibreFact UI" />
    <meta id="appName" name="application-name" content="LibreFact UI" />
    <% } else{ %>
    <title>Openubl</title>
    <meta name="description" content="Project Openubl UI" />
    <meta id="appName" name="application-name" content="Openubl UI" />
    <% } %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="version" content="2.0.0" />
    <link rel="manifest" href="manifest.json" />
    <base href="/" />
    <script>
      window._env = "<%= _env %>";
    </script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" style="height: 100%"></div>
  </body>
</html>
