<!DOCTYPE html>
<html lang="en-US">
<head>
  <title><%= branding.application.title %></title>
  <meta name="description" content="<%= branding.application.description ?? branding.application.title %>"/>
  <meta id="appName" name="application-name" content="<%= branding.application.name ?? branding.application.title %>"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#000000"/>
  <meta name="version" content="2.0.0"/>
  <link rel="manifest" href="/manifest.json"/>
  <link rel="icon" href="/favicon.ico"/>
  <base href="/"/>
  <script>
    window._env = "<%= _env %>";
  </script>
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root" style="height: 100%"></div>
</body>
</html>