name: CI

on:
  push:
    branches-ignore:
      - "dependabot/**"
    paths-ignore:
      - 'README.md'
  pull_request: { }

env:
  CI: true

jobs:
  cargo-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: server/ui/package-lock.json
      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
      - name: Install clippy
        run: rustup component add clippy
      - run: cargo fmt --check
      - run: cargo check
      - run: cargo clippy --all-targets --all-features -- -D warnings

  cargo-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: server/ui/package-lock.json
      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
      - run: cargo test
  
  npm-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: server/ui/package-lock.json
      - working-directory: server/ui
        run: npm ci
      - working-directory: server/ui
        run: npm run check
      - working-directory: server/ui
        run: npm run build
